:root {
  --primary-color: #000;
  --secondary-color: #e72929;
  --tertiary-color: #d8e9f0;
}
.App {
  text-align: left;
  margin: 100px auto;
  max-width: 600px;
  border: 1px solid var(--tertiary-color);
  padding: 50px;
  box-shadow: 2px 2px 2px var(--tertiary-color);
  font-family: "Roboto", sans-serif;
  border-radius: 20px;

  background-color: var(--tertiary-color);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  margin: 40px 0 0 0;
}

input {
  padding: 15px;
  display: inline-flex;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 20px;

  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
}
.cityName {
  width: 66%;
  color: var(--primary-color);
}
.details {
  margin: 0;
  padding: 0;
}
.city-ico-temp {
  display: flex;
  justify-content: space-between;
}
hr {
  margin-top: 50px;
}
strong {
  color: var(--secondary-color);
}
.your-city {
  font-size: 48px;
}
.weather {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-top: 1px solid #cfd9df;
}
.temperature {
  font-size: 80px;
}
.unit {
  position: relative;
  top: -40px;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}

img {
  width: 80px;
  position: relative;
  margin-bottom: -10px;
}
footer {
  padding-top: 20px;
}
